/* Styles for the navigation bar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7f27;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.menu-icon, .icon, .user-icon, .login-signup {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.login-signup {
    font-size: 14px;
    color: #eeeeee;
}

/* Menu Popup */
.menu-popup {
    position: absolute;
    top: 50px; /* Adjusted to be under the navbar */
    left: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 2;
}

.menu-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-popup li {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
}

.menu-popup li:hover {
    background-color: #d0d0d0;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}